<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <ul>
        <h4>
        {{#each registros}}
        <li><strong>{{this.description}}</strong> - {{this.valor}}   <a href="/registros/{{this.id}}/details">Mais informações</a></li>
        {{/each}}
        </h4>
    </ul>
</body>
</html>