<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edição de registro</title>

</head>

<body>
    <h2>Edite seu registro abaixo:</h2>

    <form action="/registros/{{registro.id}}/edit" method="POST">

        <!-- <label for="titulo">Titulo:</label> <br> -->
        <input type="text" name="description" placeholder="Insira a nova descrição"> <br><br>

        <!--<label for="tipo ">Tipo:</label> <br> -->
        <input type="text" name="tipo" placeholder="Tipo"> <br><br>

        <!--<label for="description ">Descrição:</label> <br>-->
        <input type="number" name="valor" placeholder="Valor"> <br><br>

        <input type="submit" name="" placeholder="Salvar edição"></input>

    </form>

    <br><br><br>
</body>

</html>